#myform{
    /* border: 1px solid black; */
    width: 25%;
    margin: auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#myform>div{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    
}

#headingregister{
    text-align: center;
}

#registerbutt{
    /* border:1px solid black; */
    width: 100px;
    margin:auto;
}

#registerbutt>input{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: large;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

#registerbutt>input:hover{
    background-color: rgb(243, 8, 8);
}